<!DOCTYPE html>
<html>
  <head>
    <title>Bergen Bread Distribution</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <div class="container visiblity:hidden">
      <%= render 'layouts/quick_contact' %>
      <%= render 'layouts/bergen_bread_banner' %>
      <%= render 'layouts/navigation' %>
      <%= yield %>
      <%= render 'layouts/copyright' %>
    </div>
  </body>
</html>
